machine/definition.asl.json
{
  "Comment": "Workflow de Pedidos KFC: Pagos -> Cocina -> Empaque -> Delivery",
  "StartAt": "Procesar Pago",
  "States": {
    "Procesar Pago": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:REEMPLAZAR:function:kfc-workflow-pagos",
      "Next": "Verificar Pago",
      "Retry": [ { "ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 2, "MaxAttempts": 2 } ]
    },
    "Verificar Pago": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "PAID",
          "Next": "Cocinar Pedido"
        }
      ],
      "Default": "Pago Fallido"
    },
    "Pago Fallido": {
      "Type": "Fail",
      "Error": "PaymentError",
      "Cause": "El pago no fue autorizado por la pasarela."
    },
    "Cocinar Pedido": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:REEMPLAZAR:kfc-workflow-cocina",
      "Next": "Empaquetar Pedido"
    },
    "Empaquetar Pedido": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:REEMPLAZAR:function:kfc-workflow-empaque",
      "Next": "Asignar Delivery"
    },
    "Asignar Delivery": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:REEMPLAZAR:function:kfc-workflow-delivery",
      "End": true
    }
  }
}